body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: white;
    color: darkblue;
}
h1 {
    color:darkblue;
     text-align: center;
}
.lesson-details,
.lesson-content {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border: 2px solid darkblue;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #C9A227;
}
input,
textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}
#save-lesson {
    background-color: #C9A227;
    color:darkblue;
    padding:10px 20px;
    border:none;
    border-radius:8px;
    cursor: pointer;
    transition: 0.3s;
}
#save-lesson:hover {
  background-color: darkblue;
  color: #C9A227;
}
#submmited {
    color:darkblue;
    font-weight:bold;
    margin-top:10px;
}
.lesson-details label,
.lesson-content label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
